<%= form_with model: @personal_data || PersonalData.new, url: personal_data_create_path, local: true do |form| %>
  <% if @personal_data&.errors&.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_data.errors.count, "error") %> prohibited this personal data from being saved:</h2>
      <ul>
      <% @personal_data.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, maxlength: 25, required: true %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, maxlength: 50, required: true %>
  </div>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, required: true, id: "email-field" %>
    <p id="email-error-message" style="color: red;"></p>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.phone_field :phone, required: true, pattern: "[0-9]{3}-[0-9]{3}-[0-9]{4}", id: "phone-field" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "inline-flex justify-center items-center px-4 py-2 border border-transparent font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"%>
  </div>
<% end %>
